body {
    background-image: linear-gradient(120deg, #68c3e4, #1589b3);
}

#all-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    width: 200px;
    height: 200px;
    margin: 30px;
    transform-style: preserve-3d;
    transition: all 0.7s linear;
    border-radius: 20px;
    box-shadow: 10px 20px 24px 0px rgba(75, 72, 72, 0.75);
}

.remove-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.front {
    background-color: #FFF;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 20px; 
    border-radius: 20px;
}

.back {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0D94C4;
    transform: rotateY(180deg);
    font-size: 20px;
    border-radius: 20px;  
}

.card:hover {
    transform: rotateY(180deg);
}

#add-question, #shuffle {
    
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

#shuffle {
    left: 20px;
}

.fa-plus-circle, .fa-random {
    cursor: pointer;
    background-color: transparent;
    color: rgb(73, 75, 72);
}

#new-question-container {
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;  
}


#new-question-card {
    width: 300px;
    height: 300px;
    margin: 50px;
    transform-style: preserve-3d;
    transition: all 0.7s linear;  
    border-radius: 20px;
    box-shadow: 10px 20px 24px 0px rgba(75, 72, 72, 0.75);
}


#question-div {
    background-color: #FFF;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000000;
    font-size: 20px; 
    border-radius: 20px; 
}

#answer-div {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0D94C4;
    transform: rotateY(180deg);
    font-size: 20px;
    border-radius: 20px; 
}

#new-question, #new-answer {
    width: 90%;
    height: 70%;
    font-size: 30px;
}

::-webkit-scrollbar{
    width:5px;
}

::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    border-radius: 10px;
}


@media only screen and (max-width: 500px){
    .card{
        width: 38vw;
        height: 38vw;
        margin: 4vw;
    }
} 